.initial-header{
    text-align: right;
    font-size: 14px;
    background: rgb(0, 140, 255);
}

nav{
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-around;
}
nav ul{
    margin-bottom: 60px;
}
nav li{
    margin-top: 10px;
    display: inline;
    list-style: none;
    font-size: 13px; 
   margin: 10px;
}

.nav-menu {
    color: #000000;
    text-decoration: none;

}
// .search{
//     color: white;
//     border: white 2px solid;
// }
.nav-menu:hover 
{
    color: rgb(0, 140, 255); 
     text-decoration:none; 
     cursor:pointer;  
     border-bottom: rgb(0, 140, 255) solid 3px;
     padding-bottom: 34px;
     
}

// .section-img{
//     margin-bottom: 20px;
// }

