.content-main{
   
    background-color: rgb(160, 39, 39);
}

h3{
    color: white;
    text-decoration: none;
    width: 140px;
    font-size: 15px;
    text-align: left;
}
.content-foto{
    align-items: center;
}

main{
   margin: 20px;
   margin-right: 30px;
   background-color: black;
}

.img-foto{
    margin-left: 80px;
}

// --------

// .section-green{
//     background: abs($number: 0);
// }