.section-green{
    color: white;
    background-color: yellowgreen;
    border-bottom: 1px rgb(80, 79, 79) solid ;
    height: 30px;
    text-align: center;
    margin-left: 80px;
    margin: 10px;
    .border-text{
        border-left: 1px solid rgb(87, 84, 84);
        height: 50px;
    }
    
}
.section-right{
    margin-top: 10px;
        margin-left: 90px;
        color: rgb(33, 37, 66);
        font-size: 20px;
        
    }

.section-left{
    // margin-left: 5px;
    color: rgb(87, 82, 82);
    
}

.bg-color{
    background-color: white;
   
}

.section-text{
    width: 520px;
    text-align: justify ;
}

.margin-content{
    padding: 70px;
    // margin-right: 20px;

}

.bg-section-img{
  img{
      background-color: rgb(138, 136, 136);
  }
}

.color-blue{
    color: rgb(39, 39, 117);
}
.title{
    color: rgb(65, 65, 121);
    font-size: 20px;
}
.section-img{
    line-height: 80px;
    margin-right: 20px;
// margin-rigth: 20px;
   width: 150px;
   font-size: 10px;
   border-left: solid 1px rgb(134, 130, 130);
   border-top: solid 1px rgb(134, 134, 134);
}


.section-talent{
    background-color: rgb(151, 151, 151);
}
li{
    display: flex;
    list-style: none;
}