.section-green{
    color: white;
    background-color: yellowgreen;
    border-bottom: 2px black solid ;
    height: 30px;
    text-align: center;
    margin-left: 90px;
    .border-text{
        border-left: 1px solid rgb(87, 84, 84);
        height: 50px;
    }
    
}
.section-right{
        margin-left: 100px;
        color: white;
    }